{% extends "layout_index.njk" %}

{% block mybody %}
<div class="container">
  <div class="rows">
    <div class="col-8 offset-2">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          {% for oneBrand in brandsList %}
          <tr>
            <td>{{oneBrand.id}}</td>
            <td><a href="/brands/{{oneBrand.id}}">{{oneBrand.title}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

<!--
<ul>
  {% for oneBrand in brandsList %}
    <li><a href="/brands/{{oneBrand.id}}">{{oneBrand.title}}</a></li>
  {% endfor %}
</ul>
-->
