{% extends "layout_index.njk" %}

{% block mybody %}
<div class="container">
  <div class="row align-items-center">
  {% for oneProduct in productsList %}
    <div class="col-4 offset-4 text-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.decathlon.fr/media/{{oneProduct.image_path}}" alt="{{oneProduct.title}}">
        <div class="card-body">
          <h5 class="card-title">{{oneProduct.title}}</h5>
          <p class="card-text">{{oneProduct.min_price}} €</p>
          <p class="card-text">{{oneProduct.rating}}</p>
          <p class="card-text">{{oneProduct.description}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
<!--
<div class="container">
  <div class="rows">
    <div class="col-6 offset-3">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          {% for oneProduct in productsList %}
          <tr>
            <td><img src="https://www.decathlon.fr/media/{{oneProduct.image_path}}" alt="{{oneProduct.title}}"></td>
            <td>{{oneProduct.title}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
-->
<!--
<ul>
  {% for oneProduct in productsList %}
  <li><img src="https://www.decathlon.fr/media/{{oneProduct.image_path}}" alt="{{oneProduct.title}}">{{oneProduct.title}}></li>
  {% endfor %}
</ul>
-->
